################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

obj
.vs/Art-Gallery-API/FileContentIndex
bin/Debug/net6.0
.vs/Art-Gallery-API
.vs/ProjectEvaluation
